.login-container {  
    max-width: 1000px;
  }
  .login-card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .login-left {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
  }
  
  .login-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .login-icon {
    position: absolute;
    margin-left: 10px;
    top: 10px;
    color: #999;
  }
  
  .login-input-group {
    position: relative;
  }

  
 .login-image{
  height: 500px;
 }
 @media (max-width: 767px) {

  .login-image{
  height: 300px;
  object-fit: cover;
 }
}



.form-control {
  width: 100%;
  padding: 12px 6px 12px 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.2s ease;
}

.form-control:focus {
  outline: none;
  border-color: #0B8001;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.1);
}

.form-control::placeholder {
  font-size: 18px; /* 16px + 2px */
  color: #454545;
}

.form-control:focus::placeholder {
  outline: none;
}

.form-control.is-invalid {
  border-color: #e53e3e;
}